*{
  margin: 0px;
  padding: 0px;
}
body{

}
/*----------------------------------------------------*/
header{
  background-color: #000000;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-right: 3%;
}
#hamburger{
  width: 15%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~*/
aside{
  position: fixed;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  padding: 1%;
}
h3{
  font-size: 20px;
}
span{
  display: flex;
}
a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin: 5px;
}
#navigation{

  visibility: hidden;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~*/
h1{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}
/*----------------------------------------------------*/
section{
  background-color: #ededed;
  display: flec;
  justify-content: center;
}
h3{
  display: flex;
  align-content: center;
}
article{
  background-color: #ffffff;
  padding: 10px;
  margin: 2%;
}
.ima{
  width: 100%;
}
