body{

}
header{
  background-color: #000000;
}
#hamburger{
  width: 5%;
}
nav.a{
  text-decoration: none;
  color: #ffffff;
}
#navigation{
  visibility: hidden;
}
section{
  background-color: #9d9994;
}
article{
  background-color: #ffffff;
  padding: 10px;
}
article.img{
  width: 40%;
}
